.wy-nav-content {
    max-width: none !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
}

/* Prevent tables from stretching to fill the screen */
table.sphinx-datatable {
    width: auto !important;
}

table.sphinx-datatable.dataTable {
    width: auto !important;
}
